imports:
  - { resource: "parameters.yml" }

services:
  ask:
    class:      TV\HZ\Ask\ApiInternal
    # arguments:  ["%wiki.host%","%http.user%","%http.password%"]
  formatter:
    class:      TV\HZ\Formatter
  elasticsearch:
    class:      Elasticsearch\Client
  indexer.context:
    class:      TV\HZ\Indexer\ContextIndexer
    arguments:  ["@ask", "@elasticsearch","%elastic.index%"]
  indexer.skos:
    class:      TV\HZ\Indexer\SkosIndexer
    arguments:  ["@ask", "@elasticsearch","%elastic.index%"]
  indexer.intentionalelement:
    class:      TV\HZ\Indexer\IntentionalElementIndexer
    arguments:  ["@ask", "@elasticsearch","%elastic.index%"]
  indexer.resourcedescription:
    class:      TV\HZ\Indexer\ResourceDescriptionIndexer
    arguments:  ["@ask", "@elasticsearch","%elastic.index%","%upload.dir%"]
